<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Brello</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
  <body>
    <% const initials = userName.toUpperCase().split(" "); %>
    <div id="header">
        <i class="fas fa-home hidden" id="linktohome"></i>
        <div id="boards-btn">Boards</div>
        <input type="text" id="searchbar">
        <i class="fas fa-search" id="search-icon"></i>
        <h3>Brello</h3>
        <i class="fas fa-bell" id="notifications-btn"></i>
        <div class="user-icon" id="header-user-icon"><%=initials[0][0] + initials[initials.length - 1][0]%></div>
    </div>
    <div id="match-area" class="hidden">
        <div id="board-matches" class="hidden">
            <h3>Boards</h3>
        </div>
        <div id="card-matches" class="hidden">
            <h3>Cards</h3>
        </div>
    </div>
    <div id="notifications-popup" class="hidden">
        <!--<h4 id="no-notifications">No new notifications</h4>-->
    </div>

    <div id="board-page">
        <div id="add-board-modal-container" class="hidden">
            <div id="add-board-modal">
                <form id="add-board-form">
                    <div id="add-board-box">
                        <input type="text" id="board-title-entry" placeholder="Add board title"> <i class="fas fa-times" id="add-board-close"></i>
                        <select id="team-dropdown">
                            <option value="No team">No Team</option>
                        </select>
                    </div>
                    <button class="btn btn-not-ready" id="create-board-btn">Create Board</button>
                </form>
            </div>
        </div>
        <div id="add-team-member-modal-container" class="hidden">
            <div id="add-team-member-modal">
                <h4>Team members:</h4>
                <ul id="team-member-list">
                </ul>
                <h4>Enter the name of the team member to add:</h4><input type="text" id="team-member-input">
                <ul id="user-match-list">
                </ul>
            </div>
        </div>
        <div class="row" id="board-page-row">
            <div id="board-popup" class="hidden"></div>
            <div class="col-4 col-sm-0" id="board-sidebar">
            </div>
            <div class="col-8 col-sm-12" id="all-boards">
                <div class="row" id="recently-viewed-boards-row">
                    <i class="far fa-clock"></i> <h5>Recently Viewed</h5> <br>
                </div>
                <div class="row" id="personal-boards-row">
                    <i class="fas fa-user"></i> <h5>Personal Boards</h5> <br>
                    <div class="create-board-item board-box"><p>Create new board...</p></div>    
                </div>
                <div class="row" id="team-rows-container">
                </div>
                <div id="create-new-team-link"><p>Create a new team...</p></div>
                <div id="create-new-team-popup" class="hidden">
                    <h5>Create Team</h5> <i class="fas fa-times" id="create-team-close"></i>
                    <div class="solid-line"></div>
                    <h6>Name</h6>
                    <input type="text" id="new-team-name">
                    <button class="btn btn-not-ready" id="create-new-team-btn">Create</button>
                    <div class="solid-line"></div>
                    <p>A team is a group of boards and people. Use it to organize your company, side hustle, family, or friends.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const id = <%=userId%>
    </script>
    <script src="/javascripts/socket.js"></script>
    <script src="/javascripts/header.js"></script>
    <script src="/javascripts/boards.js"></script>
  </body>
</html>